#container {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#daddy {
  width: 100vw;
  height: 100vh;
}

#dayCurve {
  position: absolute;
  height: 100%;
  width: 220%;
  left: -60%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  bottom: 0;
  background-color: rgb(0, 150, 136);
  opacity: 0;
  border-top: rgb(0, 109, 98) 8px solid;
  box-shadow: 0 0 100px 100px var(--ion-sunset-primary);
  background: linear-gradient(25deg, #000000, #42d77d);
}

#skySphere {
  opacity: 0;
  position: absolute;
  width: 40%;
  height: calc(40vw);
  background-color: #ffe89e;
  border-radius: 50%;

  margin-left: -20%;
}

.sunRays {
  box-shadow: 0 0 100px 100px #ffca22;
  transition: box-shadow 0.3s ease-in-out;
}

.moonRays {
  box-shadow: 0 0 100px 100px grey;
  transition: box-shadow 0.3s ease-in-out;
}

#dateTime {
  font-size: xxx-large;
  position: absolute;
  bottom: 0;
  z-index: 200;
  width: 100%;
  text-align: center;
  opacity: 0;
  margin-top: 30px;
}
