#container {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ececec;
}

page-home {
  .absent-header {
       display: none;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
  
}

#daddy {
  width: 100vw;
  height: 100vh;
}

#dayCurve {
  position: absolute;
  height: 100%;
  width: 220%;
  left: -60%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  bottom: 0;
  background-color: rgb(0, 150, 136);
  opacity: 0;
  border-top: var(--ion-curve-border-primary) 8px solid;
  box-shadow: 0 0 100px 100px var(--ion-sunset-primary);
  background: linear-gradient(25deg, #000000, var(--ion-curve-border-primary));
}

#skySphere {
  opacity: 0;
  position: absolute;
  width: 40%;
  height: calc(40vw);

  border-radius: 50%;

  margin-left: -20%;

  box-shadow: 0 0 100px 100px var(--ion-sphere-rays-primary);
  background-color: var(--ion-sphere-primary);
}

#dateTime {
  font-size: xxx-large;
  position: absolute;
  bottom: 0;
  z-index: 200;
  width: 100%;
  text-align: center;
  opacity: 0;
  margin-top: 30px;
  color: #ececec;
}

.star-daddy {
  width: 100vw;
  height: 100vh;
}

.star-daddy {
  background-color: black;

  background-image:
      -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, black), to(transparent)),
      -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, black), to(transparent)),
      -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(white), color-stop(0.05, black), to(transparent)),
      -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(white), color-stop(0.03, black), to(transparent));

  /* Background Attributes */
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

  /* Animation */
  animation-name: movement;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes movement
{
  from {
          background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
          background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}
@-moz-keyframes movement
{
  from {
          background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
          background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}
@-webkit-keyframes movement
{
  from {
          background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
          background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}