#container {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ececec;
}

page-home {
  .absent-header {
       display: none;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
  
}

#daddy {
  width: 100vw;
  height: 100vh;
}

#dayCurve {
  position: absolute;
  height: 100%;
  width: 220%;
  left: -60%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  bottom: 0;
  background-color: rgb(0, 150, 136);
  opacity: 0;
  border-top: var(--ion-curve-border-primary) 8px solid;
  box-shadow: 0 0 100px 100px var(--ion-sunset-primary);
  background: linear-gradient(25deg, #000000, var(--ion-curve-border-primary));
}

#skySphere {
  opacity: 0;
  position: absolute;
  width: 40%;
  height: calc(40vw);

  border-radius: 50%;

  margin-left: -20%;

  box-shadow: 0 0 100px 100px var(--ion-sphere-rays-primary);
  background-color: var(--ion-sphere-primary);
}

/* .sunRays {
  box-shadow: 0 0 100px 100px #ffca22;
  background-color: #ffe89e;
}

.moonRays {
  box-shadow: 0 0 100px 100px grey;
  background-color: grey;
} */

#dateTime {
  font-size: xxx-large;
  position: absolute;
  bottom: 0;
  z-index: 200;
  width: 100%;
  text-align: center;
  opacity: 0;
  margin-top: 30px;
  color: #ececec;
}
